body {
    background: #1C1F2B;
    font-family: 'Open Sans', sans-serif;
}

.grafico{
    width: 40%; 
    height: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
	/*margin-left: 5%;*/

}

.titolo{
    color: #cccccc;
}