{
  "openapi": "3.0.1",
  "info": {
    "title": "Arpav",
    "description": "documentazione API per local.marconivr.it/ardos per il progetto di educazione civica per arpav",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://local.marconivr.it/ardos/API"
    }
  ],
  "tags": [
    {
      "name": "Centraline",
      "description": "tutte le informazioni necesarie sulle centraline"
    },
    {
      "name": "rilevazioni",
      "description": "tutte le informazioni necesarie sulle rilevazioni"
    }
  ],
  "paths": {
    "/centraline/{CentralineID}": {
      "get": {
        "tags": [
          "Centraline"
        ],
        "summary": "tutte le informazioni sulle centraline",
        "description": "visualizza tutte le informazioni sulle centraline",
        "operationId": "getCentraline",
        "parameters": [
          {
            "name": "CentralineID",
            "in": "path",
            "description": "ID della centralina",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/centraline"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      }
    },
    "/info/{infoID}": {
      "get": {
        "tags": [
          "Centraline"
        ],
        "summary": "visualizza le informazioni fondamentali",
        "description": "visualizza le informazioni dondamentali delle centraline tra cui nome comune e provincia",
        "operationId": "getfatinfo",
        "parameters": [
          {
            "name": "infoID",
            "in": "path",
            "description": "ID della centralina",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/info"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      }
    },
    "/coordinate/{coordinateID}": {
      "get": {
        "tags": [
          "Centraline"
        ],
        "summary": "coordinate",
        "description": "visualizza le coordinate delle centraline",
        "operationId": "getfatCordinate",
        "parameters": [
          {
            "name": "coordinateID",
            "in": "path",
            "description": "ID della centralina",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/cordinate"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      }
    },
    "/rilevazioni/{rilevazioniID}": {
      "get": {
        "tags": [
          "Rilevazioni"
        ],
        "summary": "Rilevazioni",
        "description": "visualizza informazioni sulle rilevazioni",
        "operationId": "getfatRilevazioni",
        "parameters": [
          {
            "name": "rilevazioniID",
            "in": "path",
            "description": "ID della centralina",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/rilevazioni"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      }
    },
    "/ozono/{onzonoID}": {
      "get": {
        "tags": [
          "Rilevazioni"
        ],
        "summary": "Rilevazioni",
        "description": "visualizza informazioni sulle rilevazioni di ozono",
        "operationId": "getfatozono",
        "parameters": [
          {
            "name": "onzonoID",
            "in": "path",
            "description": "ID della centralina",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ozono"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      }
    },
    "/pm10/{pm10ID}": {
      "get": {
        "tags": [
          "Rilevazioni"
        ],
        "summary": "Rilevazioni",
        "description": "visualizza informazioni sulle rilevazioni di pm10",
        "operationId": "getfatpm10",
        "parameters": [
          {
            "name": "pm10ID",
            "in": "path",
            "description": "ID della centralina",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pm10"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "centraline": {
        "type": "object",
        "properties": {
          "stazioni_nome": {
            "type": "string",
            "format": "string",
            "example": "Conegliano"
          },
          "stazioni_localita": {
            "type": "string",
            "format": "string"
          },
          "stazioni_comune": {
            "type": "string",
            "format": "string"
          },
          "stazioni_provincia": {
            "type": "string",
            "format": "string"
          },
          "stazioni_tipozona": {
            "type": "string",
            "format": "string"
          },
          "stazioni_lat": {
            "type": "number",
            "format": "number"
          },
          "stazioni_lon": {
            "type": "number",
            "format": "number"
          },
          "stazioni_codseqst": {
            "type": "integer",
            "format": "integer"
          }
        }
      },
      "info": {
        "type": "object",
        "properties": {
          "stazioni_codseqst": {
            "type": "integer",
            "format": "integer"
          },
          "stazioni_nome": {
            "type": "string",
            "format": "string"
          },
          "stazioni_comune": {
            "type": "string",
            "format": "string"
          },
          "stazioni_provincia": {
            "type": "string",
            "format": "string"
          }
        }
      },
      "cordinate": {
        "type": "object",
        "properties": {
          "stazioni_codseqst": {
            "type": "integer",
            "format": "integer"
          },
          "stazioni_nome": {
            "type": "string",
            "format": "string"
          },
          "stazioni_lat": {
            "type": "number",
            "format": "number"
          },
          "stazioni_lon": {
            "type": "number",
            "format": "number"
          }
        }
      },
      "rilevazioni": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "format": "string"
          },
          "stazioni_codseqst": {
            "type": "integer",
            "format": "integer"
          },
          "stazioni_misurazioni_ozono_data": {
            "type": "string",
            "format": "date"
          },
          "stazioni_misurazioni_ozono_mis": {
            "type": "number",
            "format": "number"
          }
        }
      },
      "ozono": {
        "type": "object",
        "properties": {
          "stazioni_codseqst": {
            "type": "integer",
            "format": "integer"
          },
          "stazioni_misurazioni_ozono_data": {
            "type": "string",
            "format": "date"
          },
          "stazioni_misurazioni_ozono_mis": {
            "type": "number",
            "format": "number"
          }
        }
      },
      "pm10": {
        "type": "object",
        "properties": {
          "stazioni_codseqst": {
            "type": "integer",
            "format": "integer"
          },
          "stazioni_misurazioni_pm10_data": {
            "type": "string",
            "format": "date"
          },
          "stazioni_misurazioni_pm10_mis": {
            "type": "number",
            "format": "number"
          }
        }
      }
    }
  }
}